<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Epona - Multipurpose Template</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/images/demo/favicon.ico" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/line-icons.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/flexslider.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layerslider.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/header-default.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/footer-default.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/red.css" rel="stylesheet" type="text/css" id="color_scheme" />

		<!-- Morenizr -->
		<script type="text/javascript" src="assets/plugins/modernizr.min.js"></script>

		<!--[if lte IE 8]>
			<script src="assets/plugins/respond.js"></script>
		<![endif]-->
	</head>
	
	<!-- 
		Available body classes: 
			smoothscroll			= enable chrome browser smooth scroll
			grey 					= grey content background
			boxed 					= boxed style
			pattern1 ... pattern10 	= background pattern

		Background Image - add to body: 
			data-background="assets/images/boxed_background/1.jpg"
	-->
	<body class="smoothscroll">

		<div id="wrapper">

			<div id="header"><!-- class="sticky" for sticky menu -->

				<!-- Top Bar -->

				


				<header id="topBar">

						
							  

					<div class="container">

						<div class="pull-right fsize13 margin-top10 hide_mobile">

							<!-- mail , phone -->
							<div class="fa-hover col-sm-5 "><span><a href="mailto:support@ecutuningservice.com">support@ecutuningservice.com</a></span></div>
							<div class="fa-hover col-sm-4 "><i class="fa fa-phone-square"></i> <span>0541 761 61 31</span></div>
							<div class="fa-hover col-sm-4"><i class="fa fa-phone-square"></i> <span>0262 332 26 61</span></div>


								<div class="block text-right"><!-- social -->
								<a href="https://fb.com/mgremaps" class="social fa fa-facebook"></a>
								<a href="https://www.instagram.com/mgremaps_official" class="social fa fa-instagram"></a>
								<a href="https://www.youtube.com/channel/UCA357awNI2xjO3A5jXaLrNQ" class="social fa fa-youtube"></a>
							</div><!-- /social -->
							
							<th:block th:if="${username} == 'anonymousUser'">
								<div class="fa-hover col-sm-4"><a href="page-login"><i class="fa fa fa-sign-in"></i> <span>Uye Girisi</span></a></div>
								<div class="fa-hover col-sm-4"><a href="page-register"><i class="fa fa fa-sign-in"></i> <span>Kayit</span></a></div>
							</th:block>
							<th:block th:unless="${username} == 'anonymousUser'">
								<div class="fa-hover col-sm-3">Hosgeldin <span th:text="${username}"/></div>
    							<div class="fa-hover col-sm-3"><a href="logout"><i class="fa fa fa-sign-out"></i> <span>Cikis</span></a></div>
    						</th:block>
    						</span>
							
							
							
							
							
						</div>

						<!-- Logo -->
						
						<a class="logo" href="/">
							<img  class="appear-animation" src="assets/images/logo.png" height="50" alt="" data-animation="bounceInRight"/>
						</a>

					</div><!-- /.container -->
				</header>
				<!-- /Top Bar -->


				<!-- Top Nav -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Search 
						<form class="search" method="get" action="page-search.html">
							<input type="text" class="form-control" name="s" value="" placeholder="Search">
							<button class="fa fa-search"></button>
						</form>
						 /Search -->

						<!-- Top Nav -->
						<div class="navbar-collapse nav-main-collapse collapse">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li>
												<a href="/">	Ana Sayfa <span>MG Remaps</span> </a>
									</li>
									<li>
											<a href="page-about-us">	Kurumsal </a>
									</li>
									<li class="dropdown mega-menu">
										<a href="cars">	Bayilerimiz <span>Yurtici/Yurtdisi</span> </a>
										<ul class="dropdown-menu">
											<li>
												<div class="row">
													<div class="col-md-3">
														<h3>Yurt ici</h3>
														<ul>
															<li><a href="http://chiptuningankara.com/"><i class="fa fa-angle-right"></i> Ankara </a></li>
															<li><a href="http://www.bilecikchiptuning.com/"><i class="fa fa-angle-right"></i> Bilecik </a></li>
															<li><a href="http://bursachiptuning.net/"><i class="fa fa-angle-right"></i> Bursa </a></li>
															<li><i class="fa fa-angle-right"></i> Corum</li>
															<li><a href="http://chiptuningdenizli.net/"><i class="fa fa-angle-right"></i> Denizli</a></li>
															<li><a href="http://chiptuningistanbul.com/"><i class="fa fa-angle-right"></i> Istanbul </a></li>
															<li><a href="http://chiptuningizmir.net/"><i class="fa fa-angle-right"></i> Izmir</a></li>
															<li><a href="http://kocaelichiptuning.com/"><i class="fa fa-angle-right"></i> Kocaeli</a></li>
															<li><a href="https://www.instagram.com/mgremaps_ordu/"><i class="fa fa-angle-right"></i> Ordu (Fatsa)</a></li>
															<li><a href="https://www.facebook.com/MGRemapssakarya/"><i class="fa fa-angle-right"></i> Sakarya</a></li>
															<li><a href="http://www.tokatchiptuning.com/"><i class="fa fa-angle-right"></i> Tokat</a></li>
														</ul>
													</div>
													<div class="col-md-3">
														<h3>Yurt Disi</h3>
														<ul>
															<li><a href="https://m.facebook.com/MGREMAPS-De-280469509217136/"><i class="fa fa-angle-right"></i> Almanya</a></li>
															
														</ul>
													</div>
													<div class="col-md-6">
														<h3>Bayilik Hakkinda</h3>
														<ul>
															<li><a href="tumbayiler"><i class="fa fa-angle-right"></i> Butun Bayiler </a></li>
															<li><a href="page-pricing-standard"><i class="fa fa-angle-right"></i> Bayilik Basvuru Formu </a></li>
														</ul>
													</div>
													
												</div>
											</li>
										</ul>
									</li>
									<li>
											<a href="cars">	Araclarimiz <span>Uygulamalar</span> </a>
									</li>
									<li class="dropdown">
											<a class="dropdown-toggle" href="#">Hizmetlerimiz </a>
											<ul class="dropdown-menu">
												<li><a href="chiptunning">Chip Tuning</a></li>
												<li><a href="dsgtunning">DSG Tuning</a></li>
												<li class="divider"></li>
												<li><a href="gizliozellikler">Gizli Özellikler</a></li>
												<li><a href="gucartisihesaplama">Guc Artisi Hesaplama</a></li>
											</ul>
										</li>
									
									<li>
											<a href="anouncement">	Duyurular  <span>Son Haberler</span> </a>
										</li>
									<li class="dropdown">
										<a class="dropdown-toggle" href="#">Iletisim <span>Bize Yazin</span></a>
										<ul class="dropdown-menu">
											<li><a href="contact-1">Adres</a></li>
											<li><a href="contact-2">Bize Yazin</a></li>
											<li><a href="contact-3">Ziyaretci Defteri</a></li>
										</ul>
									</li>
								</ul>

							</nav>
						</div>
						<!-- /Top Nav -->

					</div><!-- /.container -->
				</header>
				<!-- /Top Nav -->

			</div>



			<!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">

					<header>

						<ul class="breadcrumb"><!-- breadcrumb -->
							<li><a href="#">Sayfalar</a></li>
							<li class="active">Hakkimizda</li>
						</ul><!-- /breadcrumb -->

						<h2><!-- Page Title -->
							<strong>Hakkimizda</strong>
						</h2><!-- /Page Title -->

					</header>

				</div>			
			</section>
			<!-- /PAGE TOP -->



			<!-- CONTENT -->

			<!-- BORN TO BE A WINNER -->
			<section>
				<div class="container">
					<div class="row">

						<div class="col-md-6">
							<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
								<div>
									<div class="embed-responsive embed-responsive-16by9">
									<iframe src="https://www.youtube.com/embed/GQ5AcBf-1JY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="800" height="450"></iframe>
									</div>
								</div>
								<div>
									<img class="img-responsive" src="assets/images/demo/ab1.jpeg" width="555" height="311" alt="">
								</div>
								<div>
									<img class="img-responsive" src="assets/images/demo/abour3.jpg" width="555" height="311" alt="">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<h3>
								Born to be 
								<span class="word-rotator"><!-- word rotator -->
									<span class="items bold">
										<span>powerful</span>
										<span>the best</span>
									</span>
								</span><!-- /word rotator -->
							</h3>
							<p>MG Remaps olarak olağanüstü performans için çalışıyoruz! Bu aynı zamanda gereksinim ve motivasyondur</p>
							<p>Her gün mükemmellik için çabalamak için tutkuyla çalışıyoruz. Tüm kalbimizi ve uzmanlığımızı koyduğumuz MG Remaps bu şekilde ortaya çıktı. </p>
						</div>

					</div>
				</div>
			</section>
			<!-- /BORN TO BE A WINNER -->



			<!-- WHO WE ARE and SKILLS -->
			<section class="alternate">
				<div class="container">
					<div class="row">

						<div class="col-md-6">
							<h3><b>Hakkimizda</b></h3>

							<p>Chip Tuning üzerine hizmet veren firmamız, her geçen gün yapmış olduğu ar-ge çalışmaları ile sizlerin memnuniyeti için çalışmaktadır. </p>

							<p>Özellikle Vag grubu araçlarda önemli projeler yapan firmamız, her türlü araç için de yazılım desteği vermekterdir.</p>

							<p>MG Remaps olarak yazılım geliştiririken önceliğimiz kesinlikle araçlarınızın zarar görmemesidir.</p>

							<div class="progress-bars">

								<div class="progress-label">
									<span>HTML/CSS</span>
								</div>

								<div class="progress thin">
									<div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
										<span class="progress-bar-tooltip">100%</span>
									</div>
								</div>

								<div class="progress-label">
									<span>Design</span>
								</div>
								<div class="progress thin">
									<div class="progress-bar progress-bar-primary" data-appear-progress-animation="96%" data-appear-animation-delay="300">
										<span class="progress-bar-tooltip">96%</span>
									</div>
								</div>

								<div class="progress-label">
									<span>Mysql</span>
								</div>
								<div class="progress thin">
									<div class="progress-bar progress-bar-primary" data-appear-progress-animation="69%" data-appear-animation-delay="600">
										<span class="progress-bar-tooltip">69%</span>
									</div>
								</div>

							</div>

						</div>

						<div class="col-md-6">
							<h3><b>Who</b> we are</h3>

							<div class="toogle">

								<div class="toggle active">
									<label>Our Company Mission</label>
									<div class="toggle-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
									</div>
								</div>

								<div class="toggle">
									<label>The Epona inside</label>
									<div class="toggle-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
									</div>
								</div>

								<div class="toggle">
									<label>The Epona Philosophy</label>
									<div class="toggle-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
									</div>
								</div>

								<div class="toggle">
									<label>Work With Our Great Team</label>
									<div class="toggle-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</section >
			<!-- /WHO WE ARE and SKILLS -->


			<!-- PREMIUM -->
			<section class="alternate">
				<div class="container">
				
					<div class="row">
						<div class="col-md-6">
							<h2>Ekibimiz <strong>Hakkinda</strong></h2>
							<p class="lead">Tutku ile Chiptuning.Müşterilerimiz bizi uzman ve gönül rahatlığıyla aramayı severler.</p>
							<p>Bu bizi mutlu ediyor çünkü dürüst olmak gerekirse.Ekibimiz <em class="styleColor">iyi eğitimli, kararlı ve deneyimlidir</em>.</p>
						</div>
						
						<div class="col-md-6 text-center">
							<img class="img-responsive animate_fade_in" src="assets/images/logo.png" alt="" />
						</div>
					</div>

					<div class="row text-center countTo">
						<div class="col-md-3 col-sm-6">
							<span class="boxed radius3">
								<strong class="styleColor" data-to="13">13</strong>
								<label>Yillik Deneyim</label>
							</span>
						</div>

						<div class="col-md-3 col-sm-6">
							<span class="boxed radius3">
								<strong class="styleColor" data-to="12000">12000</strong>
								<label>Saat Gelistirme</label>
							</span>
						</div>

						<div class="col-md-3 col-sm-6">
							<span class="boxed radius3">
								<strong class="styleColor" data-to="890">890</strong>
								<label>Mutlu Musteri</label>
							</span>
						</div>

						<div class="col-md-3 col-sm-6">
							<span class="boxed radius3">
								<strong class="styleColor" data-to="11000">11000</strong>
								<label>Kupa Kahve</label>
							</span>
						</div>
					</div>

				</div>
			</section>
			<!-- /PREMIUM -->

			


			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">

						<!-- col #1 -->
						<div class="logo_footer dark col-md-3">

							<img alt="" src="assets/images/logo.png" height="50" class="logo" />

							<p class="block">
								Yenişehir mah. Derya sok. No 4/A <br />
								İzmit / KOCAELI (merkez ofis)<br />
								Email: support@ecutuningservice.com<br />
								Telefon:  0 262 332 26 61<br />
								Mobil: 0541 761 61 31<br />
							</p>
							
							
							
							<p class="block"><!-- social -->
								<a href="https://fb.com/mgremaps" class="social fa fa-facebook"></a>
								<a href="https://www.instagram.com/mgremaps_official" class="social fa fa-instagram"></a>
								<a href="https://www.youtube.com/channel/UCA357awNI2xjO3A5jXaLrNQ" class="social fa fa-youtube"></a>
							</p><!-- /social -->
						</div>
						
						<div class="logo_footer dark col-md-9">

							
							<p class="block">
							<a href="https://www.evc.de/en/check_evc_license.asp?k=pQsKwyu9ITl7GDeA8nF3WA%3d%3d" target="_blank"><img src="https://www.evc.de/common/check_evc_license_image.asp?k=pQsKwyu9ITl7GDeA8nF3WA%3d%3d"></a>
							</p>
							
							
						</div>
						
						<!-- /col #1 -->

						<!-- col #2 -->
						

			</footer>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript" src="assets/plugins/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery.isotope.js"></script>
		<script type="text/javascript" src="assets/plugins/masonry.js"></script>

		<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="assets/plugins/knob/js/jquery.knob.js"></script>
		<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/revolution_slider.js"></script>

		<script type="text/javascript" src="assets/js/scripts.js"></script>
		<script type="text/javascript" src="assets/plugins/styleswitcher/styleswitcher.js">/** REMOVE ON PRODUCTION **/</script>
	</body>
</html>