<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>MG Remaps | Chip Tuning</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/images/demo/favicon.ico" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/line-icons.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/flexslider.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layerslider.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/header-default.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/footer-default.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/red.css" rel="stylesheet" type="text/css" id="color_scheme" />

		<!-- Morenizr -->
		<script type="text/javascript" src="assets/plugins/modernizr.min.js"></script>

		<!--[if lte IE 8]>
			<script src="assets/plugins/respond.js"></script>
		<![endif]-->
	</head>
	
	<!-- 
		Available body classes: 
			smoothscroll			= enable chrome browser smooth scroll
			grey 					= grey content background
			boxed 					= boxed style
			pattern1 ... pattern10 	= background pattern

		Background Image - add to body: 
			data-background="assets/images/boxed_background/1.jpg"
	-->
	<body class="smoothscroll">

		<div id="wrapper">

			<div id="header"><!-- class="sticky" for sticky menu -->

				<!-- Top Bar -->
				<header id="topBar">

						
							  

					<div class="container">

						<div class="pull-right fsize13 margin-top10 hide_mobile">

							<!-- mail , phone -->
							<div class="fa-hover col-sm-5 "><span><a href="mailto:support@ecutuningservice.com">support@ecutuningservice.com</a></span></div>
							<div class="fa-hover col-sm-4 "><i class="fa fa-phone-square"></i> <span>0541 761 61 31</span></div>
							<div class="fa-hover col-sm-4"><i class="fa fa-phone-square"></i> <span>0262 332 26 61</span></div>


							<div class="block text-right"><!-- social -->
								<a href="https://fb.com/mgremaps" class="social fa fa-facebook"></a>
								<a href="https://www.instagram.com/mgremaps_official" class="social fa fa-instagram"></a>
								<a href="https://www.youtube.com/channel/UCA357awNI2xjO3A5jXaLrNQ" class="social fa fa-youtube"></a>
							</div><!-- /social -->
							
							<th:block th:if="${username} == 'anonymousUser'">
								<div class="fa-hover col-sm-4"><a href="page-login"><i class="fa fa fa-sign-in"></i> <span>Uye Girisi</span></a></div>
								<div class="fa-hover col-sm-4"><a href="page-register"><i class="fa fa fa-sign-in"></i> <span>Kayit</span></a></div>
							</th:block>
							<th:block th:unless="${username} == 'anonymousUser'">
								<div class="fa-hover col-sm-3">Hosgeldin <span th:text="${username}"/></div>
    							<div class="fa-hover col-sm-3"><a href="logout"><i class="fa fa fa-sign-out"></i> <span>Cikis</span></a></div>
    						</th:block>
    						</span>
							
							
							
							
							
						</div>

						<!-- Logo -->
						
						<a class="logo" href="/">
							<img  class="appear-animation" src="assets/images/logo.png" height="50" alt="" data-animation="bounceInRight"/>
						</a>

					</div><!-- /.container -->
				</header>
				<!-- /Top Bar -->


				<!-- Top Nav -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Search 
						<form class="search" method="get" action="page-search.html">
							<input type="text" class="form-control" name="s" value="" placeholder="Search">
							<button class="fa fa-search"></button>
						</form>
						 /Search -->

						<!-- Top Nav -->
						<div class="navbar-collapse nav-main-collapse collapse">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li>
												<a href="/">	Ana Sayfa <span>MG Remaps</span> </a>
									</li>
									<li>
											<a href="page-about-us">	Kurumsal </a>
									</li>
									<li class="dropdown mega-menu">
										<a href="cars">	Bayilerimiz <span>Yurtici/Yurtdisi</span> </a>
										<ul class="dropdown-menu">
											<li>
												<div class="row">
													<div class="col-md-3">
														<h3>Yurt ici</h3>
														<ul>
															<li><a href="http://chiptuningankara.com/"><i class="fa fa-angle-right"></i> Ankara </a></li>
															<li><a href="http://www.bilecikchiptuning.com/"><i class="fa fa-angle-right"></i> Bilecik </a></li>
															<li><a href="http://bursachiptuning.net/"><i class="fa fa-angle-right"></i> Bursa </a></li>
															<li><i class="fa fa-angle-right"></i> Corum</li>
															<li><a href="http://chiptuningdenizli.net/"><i class="fa fa-angle-right"></i> Denizli</a></li>
															<li><a href="http://chiptuningistanbul.com/"><i class="fa fa-angle-right"></i> Istanbul </a></li>
															<li><a href="http://chiptuningizmir.net/"><i class="fa fa-angle-right"></i> Izmir</a></li>
															<li><a href="http://kocaelichiptuning.com/"><i class="fa fa-angle-right"></i> Kocaeli</a></li>
															<li><a href="https://www.instagram.com/mgremaps_ordu/"><i class="fa fa-angle-right"></i> Ordu (Fatsa)</a></li>
															<li><a href="https://www.facebook.com/MGRemapssakarya/"><i class="fa fa-angle-right"></i> Sakarya</a></li>
															<li><a href="http://www.tokatchiptuning.com/"><i class="fa fa-angle-right"></i> Tokat</a></li>
														</ul>
													</div>
													<div class="col-md-3">
														<h3>Yurt Disi</h3>
														<ul>
															<li><a href="https://m.facebook.com/MGREMAPS-De-280469509217136/"><i class="fa fa-angle-right"></i> Almanya</a></li>
															
														</ul>
													</div>
													<div class="col-md-6">
														<h3>Bayilik Hakkinda</h3>
														<ul>
															<li><a href="tumbayiler"><i class="fa fa-angle-right"></i> Butun Bayiler </a></li>
															<li><a href="page-pricing-standard"><i class="fa fa-angle-right"></i> Bayilik Basvuru Formu </a></li>
														</ul>
													</div>
													
												</div>
											</li>
										</ul>
									</li>
									<li>
											<a href="cars">	Araclarimiz <span>Uygulamalar</span> </a>
									</li>
									<li class="dropdown">
											<a class="dropdown-toggle" href="#">Hizmetlerimiz </a>
											<ul class="dropdown-menu">
												<li><a href="chiptunning">Chip Tuning</a></li>
												<li><a href="dsgtunning">DSG Tuning</a></li>
												<li class="divider"></li>
												<li><a href="gizliozellikler">Gizli Özellikler</a></li>
												<li><a href="gucartisihesaplama">Guc Artisi Hesaplama</a></li>
											</ul>
										</li>
									
									<li>
											<a href="anouncement">	Duyurular  <span>Son Haberler</span> </a>
										</li>
									<li class="dropdown">
										<a class="dropdown-toggle" href="#">Iletisim <span>Bize Yazin</span></a>
										<ul class="dropdown-menu">
											<li><a href="contact-1">Adres</a></li>
											<li><a href="contact-2">Bize Yazin</a></li>
											<li><a href="contact-3">Ziyaretci Defteri</a></li>
										</ul>
									</li>
								</ul>

							</nav>
						</div>
						<!-- /Top Nav -->

					</div><!-- /.container -->
				</header>
				<!-- /Top Nav -->

			</div>


			<!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">

					<header>

						<ul class="breadcrumb"><!-- breadcrumb -->
							<li><a href="#">Pages</a></li>
							<li class="active">Bayilerimiz</li>
						</ul><!-- /breadcrumb -->

						<h2><!-- Page Title -->
							<strong>Bayilerimiz</strong> 
						</h2><!-- /Page Title -->

					</header>

				</div>			
			</section>
			<!-- /PAGE TOP -->



			<!-- CONTENT -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-md-3">

							<!-- SIDE NAV -->
						
							<!-- /SIDE NAV -->

						</div>

						<div class="col-md-9">

							<!-- Timeline -->
							<div class="timeline">
								<div class="timeline-left">

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">49 176 32482932</a></h3>
										<h4><b>Almanya</b></h4>
										<p>beethovenstraße 9 walldorf 69190  </p>
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0 535 745 96 93</a></h3>
										<h4><b>Adana</b></h4>
										<p>Guncellenecektir</p>
									</div><!-- /item -->


									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0 535 745 96 93</a></h3>
										<h4><b>Ankara</b></h4>
										<p>İvedikköy mahallesi Melih Gökçek Bulvarı no:129/A yenimahalle ankara</p>
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">05535360835</a></h3>
										<h4><b>Bilecik</b></h4>
										<p>Hürriyet Mah Meşelik bulv No 17/a Bilecik                                   ............. </p>
										
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0 535 204 90 86</a></h3>
										<h4><b>Bursa</b></h4>
										<p>Küçük sanayi sitesi 10.blok no:36 Nilüfer/ Bursa</p>
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0542 628 79 00</a></h3>
										<h4><b>Corum</b></h4>
										<p>Küçük sanayi sitesi Mimar sinan mahallesi sanayi caddedi no 24 </p>
									</div><!-- /item -->


									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0534 614 68 11 - 0506 519 60 21</a></h3>
										<h4><b>Denizli</b></h4>
										<p>İlbade mahallesi 127/1 sokak no6/1 </p>
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0555 616 68 38</a></h3>
										<h4><b>Duzce</b></h4>
										<p>Kültür mahallesi tahir altın sokak no:8 SNN Garage Merkez </p>
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0531 350 20 00</a></h3>
										<h4><b>Istanbul Anadolu</b></h4>
										<p>Guncellenecektir</p>
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">Guncellenecektir </a></h3>
										<h4><b>Istanbul Avrupa</b></h4>
										<p>Guncellenecektir</p>
									</div><!-- /item -->


									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0 506 988 51 47</a></h3>
										<h4><b>Izmir</b></h4>
										<p>5. Sanayi sitesi 7412 sokak no:135/A bornova</p>
									</div><!-- /item -->



									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0532 267 33 55 - 0507 781 38 03</a></h3>
										<h4><b>Kocaeli</b></h4>
										<p>Sanayi mahallesi kocaer sokak no.13 izmit </p>
									</div><!-- /item -->
									
									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0553 221 13 70</a></h3>
										<h4><b>Konya</b></h4>
										<p>Fatih mahallesi Yeni istanbul caddesi Kent plaza karsisi Aytemiz petrol ici No 20/d Selcuklu/ </p>
									</div><!-- /item -->
									
									

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0543 867 23 21</a></h3>
										<h4><b>Ordu</b></h4>
										<p>Fatsa Büyük Sanayi Sitesi 9. Blok no:6 vip service fatsa </p>
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0541 917 09 11</a></h3>
										<h4><b>Sakarya</b></h4>
										<p>Yesiltepe mahallesi fevzi cakmak caddesi nu 40 Erenler</p>
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0541 711 68 41</a></h3>
										<h4><b>Tokat</b></h4>
										<p>Yeniyurt mah. Ayyıldız cad. Sanayi sitesi acenteler 2.blok No:64 Merkez</p>
									</div><!-- /item -->
									
									<div class="item"><!-- item -->
										<h3 class="timeline-centered-title"><a href="#">0541 711 68 41</a></h3>
										<h4><b>Zonguldak</b></h4>
										<p>Acılık sanayi sitesi c5 blok no6</p>
									</div><!-- /item -->
									
									
								</div>
							</div>
							<!-- /Timeline -->

								
							<div class="text-center"><!-- load more -->
								<a href="#" class="btn btn-default">LOAD MORE</a>
							</div>

						</div>

					</div>

				</div>
			</section>
			<!-- /CONTENT -->



			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">

						<!-- col #1 -->
						<div class="logo_footer dark col-md-3">

							<img alt="" src="assets/images/logo.png" height="50" class="logo" />

							<p class="block">
								Yenişehir mah. Derya sok. No 4/A <br />
								İzmit / KOCAELI (merkez ofis)<br />
								Email: support@ecutuningservice.com<br />
								Telefon:  0 262 332 26 61<br />
								Mobil: 0541 761 61 31<br />
							</p>
							
							
							
							<p class="block"><!-- social -->
								<a href="https://fb.com/mgremaps" class="social fa fa-facebook"></a>
								<a href="https://www.instagram.com/mgremaps_official" class="social fa fa-instagram"></a>
								<a href="https://www.youtube.com/channel/UCA357awNI2xjO3A5jXaLrNQ" class="social fa fa-youtube"></a>
							</p><!-- /social -->
						</div>
						
						<div class="logo_footer dark col-md-9">

							
							<p class="block">
							<a href="https://www.evc.de/en/check_evc_license.asp?k=pQsKwyu9ITl7GDeA8nF3WA%3d%3d" target="_blank"><img src="https://www.evc.de/common/check_evc_license_image.asp?k=pQsKwyu9ITl7GDeA8nF3WA%3d%3d"></a>
							</p>
							
							
						</div>
						
						<!-- /col #1 -->

						<!-- col #2 -->
						

			</footer>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<script type="text/javascript" src="assets/plugins/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery.isotope.js"></script>
		<script type="text/javascript" src="assets/plugins/masonry.js"></script>

		<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="assets/plugins/knob/js/jquery.knob.js"></script>
		<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/revolution_slider.js"></script>
		

		<script type="text/javascript" src="assets/js/scripts.js"></script>
		<script type="text/javascript" src="assets/plugins/styleswitcher/styleswitcher.js">/** REMOVE ON PRODUCTION **/</script>
	</body>
</html>